
<% content_for :title, "New User" %>

<div class="card">
  <div class="card-header"><i class="bi bi-pencil-square"></i> New User</div>
  <div class="card-body">
    <div class="card-group" id="user">
      <%= render "form", user: @user %>
    </div>

  </div>
</div>

<div>
  <%= link_to "Back to users", users_path %>
</div>
