<div class="card" style="width: 25%;">
   <%= image_tag 'flowers1.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %> 
  <div class="card-body">
    <h5 class="card-title">Our Creation</h5>
    <p class="card-text">Made in class as an example for students to follow along with! Using rails, ruby, and bootstraping to 
    make a gorgeous page. 
    </p>
    <a href="https://moodle.conncoll.edu/course/view.php?id=9402#section-22" class="btn btn-primary">Follow Along On Moodle!</a>
  </div>
</div>

<div class="card" style="width: 25%;">
  <%= image_tag 'newlo.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <div class="card-body">
    <h5 class="card-title">Recent Work</h5>
    <p class="card-text">How has this page grown and evolved? Firstly, we've added "likes" and connected posts to users.
    This has evolved alot in looks too from our first toy app, which was a bare bones strucutre. </p>
    <a href="https://www.discoveryteaching.com/courses/3resm5y" class="btn btn-primary">Follow Us on Discovery Teaching!</a>
  </div>
</div>


